# System files
# ------------
/kirby
/vendor
Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license
site/sessions/1662323898.f274066d3686b4319f40.sess
*.sess
site/sessions/1662323898.f274066d3686b4319f40.sess
site/sessions/1662323898.f274066d3686b4319f40.sess
content/1_projects/1_saga-of-the-lonely-wanderer/project.txt
content/1_projects/3_goldenrecords/01.png
content/1_projects/3_goldenrecords/01.png.txt
content/1_projects/3_goldenrecords/01_cover.png.txt
content/1_projects/3_goldenrecords/2.jpg
content/1_projects/3_goldenrecords/project.txt
content/1_projects/6_vishaad/01_cover.png
content/1_projects/6_vishaad/01_cover.png.txt
content/1_projects/6_vishaad/02_what.png
content/1_projects/6_vishaad/02_what.png.txt
content/1_projects/6_vishaad/03_why.png
content/1_projects/6_vishaad/03_why.png.txt
content/1_projects/6_vishaad/04_how.png
content/1_projects/6_vishaad/04_how.png.txt
content/1_projects/6_vishaad/poster_1.png
content/1_projects/6_vishaad/poster_1.png.txt
content/1_projects/6_vishaad/poster_2.png
content/1_projects/6_vishaad/poster_2.png.txt
content/1_projects/6_vishaad/poster_3.png
content/1_projects/6_vishaad/poster_3.png.txt
content/1_projects/6_vishaad/poster_4.png
content/1_projects/6_vishaad/poster_4.png.txt
content/1_projects/6_vishaad/poster_5.png
content/1_projects/6_vishaad/poster_5.png.txt
content/1_projects/6_vishaad/project.txt
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-02.png
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-02.png.txt
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-04.png
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-04.png.txt
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-05.png
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-05.png.txt
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-06.png
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-06.png.txt
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-08.png
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-08.png.txt
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-09.png
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-09.png.txt
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-10.png
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-10.png.txt
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-12.png
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-12.png.txt
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-14.png
content/1_projects/6_vishaad/vivekbajaj_experiment2_bookfinal-14.png.txt
