/******************************************************************************
                            Stylesheet for Portfolio
******************************************************************************/

/* Root Value Stylings */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: all 0.25s ease-in-out;
}

:root {
    --std-margin: 3rem;
    --black: #0C0C0C;
    --white: #FCFDF8;
    /* --gray: #BFBFBF; */
    --primary-color: var(--white);
    --secondary-color: var(--black);

    --font-size: 2rem;
    --font-color: var(--secondary-color);
    --primary-font: Helvetica, -apple-system, BlinkMacSystemFont, sans-serif;
    --secondary-font: -apple-system;

    --border: 2px solid var(--secondary-color);
    --border-radius: 20px;
}

/* Body Stylings */

body {
    padding: 0rem;
    background-color: var(--primary-color);
    min-height: 100vh;
    margin: 0rem var(--std-margin);
    font-size: var(--font-size);
    color: var(--font-color);
    font-family: var(--primary-font);
    line-height: 1.2;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

/* Main Stylings */
.main-grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 2rem;
}

.main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: minmax(100px, auto);
    gap: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

.project-grid img {
    width: 100%;
    justify-self: center;
}
.project-item {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: blue; */
    /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
    /* margin-bottom: 2rem; */
    padding: 2rem 0;
}

.project {
    display: grid;
    /* justify-items: center; */
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.project-img {
    object-fit: cover;
    /* border-radius: 3px; */
    grid-column: 1 / -1;
    /* grid-row: 1 / 4; */
    /* background: yellow; */
    z-index: 1;
}

.project-info {
    /* background-color: rgba(255, 255, 0, 0.2); */
    margin-top: 2rem;
    grid-column: 1 / -1;
    /* grid-row: 3 / 4; */
    z-index: 2;
}

.project-title {
    font-weight: normal;
}

.project-caption {
    margin: 0.5rem 0rem;
}