/* Root Value Stylings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Variables */
:root {
  --std-margin: 3rem;
  --primary-color: black;
  --secondary-color: white;
  --font-size: 1.5rem;
}

/* Text Select animation */
::selection {
  background: var(--secondary-color);
  color: var(--primary-color);
}

/* Body Stylings */
body {
  font-family: Helvetica, ui-sans-serif, sans-serif, arial;
  font-weight: 300;
  font-size: var(--font-size);
  margin: 0rem;
  padding: 0rem;
  background-color: var(--primary-color);
  color: white;
  line-height: 1.2;
  width: 100%;
  min-height: 100%;
  min-width: 320px;
}

img {
  max-width: 100%;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Gradient Text */
@media (prefers-reduced-motion: no-preference) {
  .moving-text {
    animation: move-bg 20s linear infinite;
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

/* Cursor Effect */
.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}
