@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');


/* Root Value Stylings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Variables */
:root {
  --margin: 3rem;
  --color-one: hsl(291, 47%, 60%);
  --color-two: hsl(340, 82%, 59%);
  --color-three: hsl(207, 90%, 77%);
  --color-four: hsl(187, 71%, 82%);
  --box-shadow: 0px 0px 3px 2px var(--color-one);
  --primary-color: black;
  --secondary-color: white;
  --font-size: 1.16rem;
  --h1: 3rem;
  --letter-spacing: -0.5px;
}

/* Text Select animation */
::selection {
  background: var(--secondary-color);
  color: var(--primary-color);
}

/* Body Stylings */
body {
  font-family: Inter, Helvetica, ui-sans-serif, sans-serif, arial;
  font-weight: 300;
  font-size: var(--font-size);
  margin: 0rem;
  padding: 0rem;
  background-color: var(--primary-color);
  color: white;
  line-height: 1.4;
  letter-spacing: var(--letter-spacing);
  width: 100%;
  min-height: 100%;
  min-width: 320px;
}

img {
  max-width: 100%;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }