/* Project Page Stylings */

.project-img {
	max-width: 100%;
	justify-self: center;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
}

.project-title {
	font-size: 3rem;
	font-weight: lighter;
	grid-row: 2 / 3;
	grid-column: 1 / 4;
	justify-self: start;
}

.project-link {
	transition: all 0.25s ease-in-out;
}

.project-link:hover {
	color: white;
}

.project-tag {
	color: var(--gray);
	font-size: 3rem;
	justify-self: end;
	grid-row: 2 / 3;
	grid-column: -1 / 4;
	text-align: right;
	transition: all 0.5s ease-in-out;
}

.project-gallery {
	list-style-type: none;
	grid-column: 1 / -1;
}

.project-gallery img {
	margin-bottom: var(--std-margin);
}