.summary {
  width: 100%;
  font-size: var(--font-size);
  animation: fadeIn 0.75s ease-in-out;
}

.summary-container {
  width: 50%;
}

a {
  color: var(--color-one);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

/* a:hover {
  color: white;
} */

/*Medium devices (tablets, less than 992px)*/

@media (max-width: 991.98px) {
  .summary-container {
    width: 100%;
  }
}
