/* Header Stylings */
.header {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    text-transform: capitalize;
    margin-bottom: calc(var(--std-margin));
    /* mix-blend-mode: color-dodge; */
    transition: all 1ms ease-in-out;
}

.header a {
    color: var(--primary-color);
    transition: all 0.25s ease-in-out;
    width: -moz-fit-content;
    width: fit-content;
}

.header a:hover {
    color: var(--highlight);
    transition: all 0.25s ease-in-out;
}

.sticky {
    top: var(--std-margin);
    position: sticky;
    /* font-size: 1.5rem; */
    z-index: 5;
}

.nav {
    display: grid;
    grid-column: -1 / 9;
}

.menu {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
}

.menu li {
    grid-column: span 1;
}

.gray {
    color: gray;
}

.logo {
    font-weight: normal;
    font-size: var(--font-size);
    /* padding: 0.5rem; */
}

.menu {
    margin-left: 0.25rem;
}

