header {
  margin-bottom: 1rem;
  animation: fadeIn 1s linear;
}

/* Header Logo */
.moving-text {
  --bg-size: 400%;
  background: linear-gradient(
    130deg,
    var(--color-one),
    var(--color-two),
    var(--color-three),
    var(--color-four),
    var(--color-three),
    var(--color-two),
    var(--color-one)
  ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Gradient Text */
@media (prefers-reduced-motion: no-preference) {
  .moving-text {
    animation: move-bg 20s linear infinite;
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.sticky {
  top: 1rem;
  position: relative;
  /* font-size: 1.5rem; */
  z-index: 5;
}

.h1 {
  font-size: var(--h1);
}

.navbar {
  z-index: 2;
  font-size: 1.25rem;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: white;
}

/* Title Tag */
.title {
  width: 100%;
  display: flex;
  font-size: 1rem;
  animation: fadeIn 2.25s ease-in;
}

/* Blinking animation */
@keyframes blink {
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 0.5s infinite;
}

/*Medium devices (tablets, less than 992px)*/

@media (max-width: 991.98px) {
  .header {
    margin: 1rem;
  }

  .title {
    display: none;
  }
}