/* Project grid */
.project-grid {
  display: grid;
  max-width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: minmax(3rem, auto);
  animation: fadeIn 2s linear;
}

/* Projects */
ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

a {
  margin: 0rem;
  padding: 0rem;
  color: currentColor;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

/* Project Card */
.card {
  background: none;
  display: flex;
  justify-content: end;
}

.card-body {
  font-size: var(--font-size);
  color: gray;
  bottom: 0rem;
  padding: var(--margin);
  border-radius: 30px;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.card-title {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.4s ease-in-out;
}

.card-img-container {
  background-color: none;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  bottom: 0;
}

.card-img {
  width: 100%;
  opacity: 1;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

/* Project Grid Breakpoints */
@media (min-width: 40rem) {
  .card {
    grid-column: span 2;
  }
}
