/* Project grid */
.project-grid {
  display: grid;
  max-width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: minmax(3rem, auto);
  animation: fadeIn 2s linear;
}

/* Projects */
ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

a {
  margin: 0rem;
  padding: 0rem;
  color: currentColor;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

/* Project Card */
.card {
  background: none;
}

.card-body {
  font-size: var(--font-size);
  color: gray;
  bottom: 0rem;
  padding: var(--margin);
  border-radius: 30px;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.card:hover .card-body {
  color: white;
  opacity: 1;
}

.card-title {
  /* text-indent: 4rem; */
  font-family: Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.4s ease-in-out;
}

.card:hover .card-title {
  color: rgba(255, 255, 255, 1);
}

.card-img-container {
  background-color: none;
  overflow: hidden;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

.card:hover .card-img-container {
  background-color: black;
  filter: blur(0.75px);
  box-shadow: var(--box-shadow);
}

.card-img {
  width: 100%;
  opacity: 1;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.card:hover .card-img {
  opacity: 0.7;
}

/* Project Grid Breakpoints */
@media (min-width: 40rem) {
  .card {
    grid-column: span 2;
  }
}