/* Project Page Stylings */

.cover {
	grid-row: 1 / 2;
}

.project-header {
	font-size: 3rem;
	font-weight: normal;
	width: 100%;
	grid-column: 1 / 4;
}

.project-description {
	grid-column: 5 / -1;
	justify-self: end;
	/* text-align: right; */
}

.section {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
}

.what {
	grid-row: 3 / 4;
	text-indent: 0rem;
}

.why {
	grid-row: 4 / 5;
	text-indent: 4rem;
}

.process {
	grid-row: 5 / 6;
	text-indent: 4rem;
}

.project-img {
	max-width: 100%;
	justify-self: center;
	grid-column: 1 / -1;
	/* grid-row: 1 / 2; */
	transition: all 0.25s ease-in-out;
}

.project-img:hover {
	transform: scale(0.99);
}

section .project-img {
	margin-bottom: calc(var(--std-margin));
}

.project-title {
	font-weight: normal;
	grid-column: 1 / 5;
	grid-row: 2 / 3;
}

.project-link {
	transition: all 0.25s ease-in-out;
}

.project-link:hover {
	color: white;
}

.project-tag {
	color: var(--gray);
	font-size: 3rem;
	font-weight: normal;
	justify-self: end;
	grid-row: 2 / 3;
	/* grid-row: 2 / 3; */
	grid-column: -1 / 4;
	text-align: right;
	transition: all 0.5s ease-in-out;
}

.project-gallery {
	margin: calc(var(--std-margin) / 2) 0rem;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-column: 1 / -1;
}

.project-gallery img {
	margin-bottom: var(--std-margin);
}

@media (max-width: 40rem) {
	body {
		font-size: calc(var(--font-size) / 2);
	}

	.main-grid {
		grid-template-columns: repeat(4, [col-start] 1fr);
		grid-row-gap: 1rem;
	}

	.cover {
		grid-row: 1 / 2;
	}

	.project-title {
		font-size: 1.75rem;
		font-weight: normal;
		grid-column: 1 / -1;
	}

	.project-tag {
		font-size: 1.75rem;
		justify-self: end;
		text-align: right;
		grid-row: 3 / 4;
		grid-column: 1 / -1;
	}

	.project-header {
		font-size: 1.75rem;
		text-decoration: underline;
		grid-column: 1 / -1;
		margin-bottom: 1rem;
	}

	.project-description {
		font-size: 1.25rem;
		grid-column: 1 / -1;
	}

	.project-gallery {
		grid-template-columns: 1fr;
	}

	section .project-img {
		margin-bottom: calc(var(--std-margin) / 2);
	}

	.what {
		grid-row: 4 / 5;
	}

	.why {
		grid-row: 5 / 6;
	}

	.process {
		grid-row: 6 / 7;
	}
}
