.stacked {
    display: grid;
}

/* selecting direct child inside */
.stacked > * {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
}

.project__grid {
    display: grid;
    gap: 3rem;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.card {
    /* grid-row: span 2; */
    /* grid-column: span 2; */
    aspect-ratio: 16 / 10;
    /* border: var(--border); */
}

.card:hover .un {
    background-position: 0% 100%; /*OR bottom right*/
    background-size: 100% 1px;
}

.card__content {
    /* background-color: var(--black); */
    /* color: var(--black); */
    z-index: 2;
    /* use align self end to make sure it doesn't stretch to fill */
    align-self: end;
    padding: 1rem 0rem;
    /* box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1); */
}

.card__title {
    /* text-indent: 4rem; */
    font-size: var(--font-size);
    font-weight: normal;
}

.card__img {
    width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
    margin: 1rem;
}

/* Project Grid Breakpoints */
@media (min-width: 40rem) {
    .project__grid {
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    }

    .card.featured {
        grid-row: span 2;
        grid-column: span 2;
    }

    .card.featured .card__img {
        aspect-ratio: 16 / 10;
    }

    .card.featured .card__title {
        font-size: 1rem;
    }
}