/* project image */
.project-img {
  min-width: 100%;
  border-radius: 20px;
  opacity: 100%;
  transition: all 0.4s ease-in-out;
  animation: fadeIn 0.75s ease-in;
}

@keyframes blur {
  from {
    filter: blur(3px);
  }
  to {
    filter: blur(0px);
  }
}

/* .project-img:hover {
  opacity: 95%;
  box-shadow: var(--box-shadow);
} */

/* project title heading */
.heading {
  font-family: Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5rem;
  animation: fadeIn 1.2s ease-in-out;
}

.summary {
  animation: fadeIn 1.2s ease-in-out;
}

/* tags */
.sub-heading {
  font-size: 1rem;
  animation: fadeIn 1.5s ease-in-out;
}

.link {
  text-decoration: none;
  color: var(--color-one);
}

.tags {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  animation: fadeIn 1.8s ease-in-out;
}

.tags i {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
  font-size: 0.75rem;
}

.tags li {
  margin-bottom: 5px;
}

.info {
  width: 70%;
}

.gallery {
	list-style-type: none;
	margin: 0;
	padding: 0;
	animation: fadeIn 2s ease-in-out;
}

.gallery-img {
  width: 100%;
	border-radius: 20px;
	opacity: 100%;
	transition: all 0.4s ease-in-out;
	animation: fadeIn 1s ease-in-out;
}

.gallery a {
  width: 60%;
}

.caption {
  font-size: var(--font-size);
  color: white;
  width: 100%;
}

.a {
  color: gray;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.25s ease-in-out;
}

/*
.a:hover {
  color: var(--color-one);
}

.a:hover img{
  opacity: 95%;
  box-shadow: var(--box-shadow);
}

.gallery-img:hover {
	opacity: 95%;
	box-shadow: var(--box-shadow);
} */

  /*Medium devices (tablets, less than 992px)*/

@media (max-width: 991.98px) {
  .heading {
    font-size: 3rem;
  }

  .caption {
    width: 100%;
  }

  .gallery a {
    width: 100%;
  }

  .info {
    width: 100%;
  }

}
